# Dependencies
node_modules/

# Build outputs
dist/

# Logs
*.log
npm-debug.log*


# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Tauri / Rust
src-tauri/target
src-tauri/Cargo.lock
src-tauri/gen

# TypeScript
*.tsbuildinfo
